/* ##################### web page header ##################### */
/*starting of header section and its item css styles*/
.web_page_header {
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 20px;
  padding: 20px;
}

.nav_lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav_lists li {
  display: inline-block;
  padding-right: 20px;
}
.nav_lists li a {
  transition: all 0.3s ease 0s;
  color: white;
  text-decoration: none;
}
.nav_lists li a:hover {
  color: #0088a9;
}

/*the end of header section and its item css styles*/
/* ##################### movie that must be watched ##################### */
/*starting of movie that must be watched and its item css styles*/

.must_be_watched {
  height: 350px;
  margin: 20px;
  border: solid;
  border-width: 5px;
  border-color: black;
}
.video_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}
.info_container {
  margin-left: 10px;
  height: 100%;
  width: 30%;
  text-align: center;
}
.movie_title {
  margin-top: 140px;
  margin-bottom: 10px;
}
.play_button {
  background-color: red;
  text-align: center;
  color: white;
  width: 100px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.video_image_to_watch {
  background-image: url("../images/movie_exemple_pour_test.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 60%;
}

/*end of movie that must be watched and its item css styles*/
/* ##################### movie that must be watched ##################### */
/*starting of movies categories and its item css styles*/
.categories_container {
  height: 350px;
  margin: 20px;
}
.categories_header {
  display: flex;
  margin-top: 0;
  height: 30%;
}
.categories_header_text {
  margin-left: auto;
  margin-right: auto;
  height: 30px;
}
.slider_contianer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70%;
}
.display_button {
  background-color: white;
  display: block;
  height: 100%;
  width: 10%;
}
.displayed_image_button {
  display: inlineblock;
  max-width: 30%;
  max-height: 30%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  outline: none;
}
.image_box {
  box-sizing: border-box;
  height: 100%;
  width: 18%;
  cursor: pointer;
  border: solid;
  border-width: 5px;
  border-color: black;
  transition: 0.5s;
}
.image_box:hover {
  transform: scale(1.15);
  z-index: 2;
}

.image_box img {
  height: 100%;
  width: 100%;
}

/* popup image divisiotn style*/
.popup_div {
  display: none;
  box-sizing: border-box;
  border-radius: 10px;
  background: white;
  position: fixed;
  top: 210px;
  left: 500px;
  height: 500px;
  width: 810px;
  z-index: 50;
}
.popup_div_container_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  background: rgb(27, 25, 25);
  height: 100%;
  width: 100%;
}

.popup_image_container {
  height: 480px;
  width: 296px;
  margin-left: 10px;
  margin-right: 5px;
}

.popup_image_container img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.movies_details_infos {
  border-radius: 10px;
  height: 480px;
  width: 500px;
  margin-right: 5px;
}

.popup_div_container_info span {
  font-weight: bolder;
  color: rgb(236, 12, 12);
  cursor: pointer;
}
.general_informations {
  background: rgb(27, 25, 25);
  box-sizing: border-box;
  border: yellow solid;
  border-width: 1px;
  border-radius: 10px;
  height: 330;
  width: 500px;
  margin-left: 5px;
  margin-right: 5px;
}
.movies_description {
  background: rgb(27, 25, 25);
  box-sizing: border-box;
  border: yellow solid;
  border-width: 1px;
  border-radius: 10px;
  height: 130px;
  width: 500px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}
h6 {
  display: block;
  vertical-align: middle;
  color: white;
  margin: 5px;
  padding: 5px;
}
